.header {

}

.header :global(.navbar-brand) img{
    height: 40px;
}

.header :global(.navbar-brand .nav-link .active){
    background-color: transparent !important;

}

.navLink {
    text-decoration: none;
    color: rgb(197, 196, 195);
    padding: 5px 10px;
    transition-duration: 0.3s !important;
}

.navLink:global(.active) {
    color: rgb(255, 253, 252);
    background-color: rgb(0, 110, 255);
    border-radius: 5px;
    transition-duration: 0.5s !important;
}

.navLink:hover {
    color: aliceblue;
}